body{
    background-image: url(../imagens/fundo.jpg);
    background-size: cover;
}
.lado{
    display: flex;
}
.paragrafo{
    letter-spacing: 2px;
    line-height: 1;
}
.principal{
    float: left; /* Isso serve para deixar as letras se encaixando na imagem*/
}